/* @include font-face('Roboto Condensed Bold', '../fonts/roboto/roboto-condensed-bold', 700);
@include font-face('Roboto Regular', '../fonts/roboto/roboto-regular', 400); */
@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), url(../fonts/roboto/roboto-regular) format("ttf");
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Condensed Bold"), url(../fonts/roboto/roboto-condensed-bold) format("ttf");
}
