.animes_container {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}
.animes_container .animes__inner {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 2.25rem;
    padding-top: 1.25rem
}
.animes_container .animes__inner .anime-container {
    position: relative;
    grid-column: span 3 / span 3;
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity))
}
.animes_container .animes__inner .anime-container .anime__inner {
    display: flex;
    flex-direction: column;
    height: 100%
}
.animes_container .animes__inner .anime-container .anime__inner .anime__inner-image {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 400px
}
.animes_container .animes__inner .anime-container .anime__inner .anime__inner-image img {
    width: 100%;
    height: 100%
}
.animes_container .animes__inner .anime-container .anime__inner .anime__inner-title {
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase
}
.animes_container .animes__inner .anime-container .anime__inner .anime__inner-description {
    max-height: 5rem;
    overflow: hidden;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem
}
.animes_container .animes__inner .anime-container .anime__inner .anime__inner-description:hover {
    overflow: auto
}

body {
    position: relative;
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity))
}
body .wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1176px
}
@media (max-width: 1176px) {
    body .wrap {
        padding-left: 3rem;
        padding-right: 3rem
    }
}
@media (max-width: 900px) {
    body .wrap {
        padding-left: 2.25rem;
        padding-right: 2.25rem
    }
}
@media (max-width: 768px) {
    body .wrap {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}
@media (max-width: 500px) {
    body .wrap {
        padding-left: 18px;
        padding-right: 18px
    }
}
body h1 {
    font-family: Roboto Condensed Bold, sans-serif;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
body p {
    font-family: Roboto Regular, sans-serif;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
body .block-link {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px
}
