@import './elements/**/*';

body {
    @apply relative;
    @apply bg-gray-600;

    .wrap {
        @apply max-w-1176 mx-auto;

        @apply lg:px-12;
        @apply md:px-9;
        @apply sm:px-6;
        @apply xs:px-mob;
    }

    h1,h2,.anime__inner-description {
        @apply font-fontTitle text-white;
    }


    .block-link {
        @apply absolute inset-0;
    }

    .hide {
        position:absolute; top:-1px; left:-1px; width:1px; height:1px; display:none;
    }

    .anime__inner-description::-webkit-scrollbar {
        width: 20px;
        height: 20px;
    }
    
    .anime__inner-description::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
    }
    
    .anime__inner-description::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
    }
    
    .anime__inner-description::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
    }
}