@import './elements/**/*';

body {
    @apply relative m-0;
    //@apply bg-gray-600;
    //@apply bg-white;
    @apply bg-[#066B4F];

    .wrap {
        @apply max-w-1176 mx-auto;

        @apply lg:px-12;
        @apply md:px-9;
        @apply sm:px-6;
        @apply xs:px-mob;
    }

    .main-container {
        @apply mt-20;
    }

    h1,h2,.anime__inner-description {
        @apply font-fontTitle text-[#B4DCCA];
    }

    .block-link {
        @apply absolute inset-0;
    }

    .hide {
        position:absolute; top:-1px; left:-1px; width:1px; height:1px; display:none;
    }

    .anime__inner-description::-webkit-scrollbar {
        width: 20px;
        height: 20px;
    }

    .btn {
        @apply text-lg font-medium;

        @apply min-w-[150px] py-2.5;
        @apply text-center inline-block;
        @apply rounded-full;

        @apply border border-solid border-emerald-800;
        @apply bg-emerald-800 text-[#B4DCCA] font-fontTitle;

        @apply cursor-pointer;

        /* @apply hover:bg-emerald-400 hover:border-emerald-400; */
        @apply hover:bg-[#0AAB7D] hover:border-[#0AAB7D];
    }

        /* .anime__inner-description::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
    } */
    
    .anime__inner-description::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #065F46;
    }

    .anime__inner-description::-webkit-scrollbar-thumb {
        background: #0AAB7D;
        border-radius: 100vh;
        border: 3px solid #0AAB7D;
    }
    
    .anime__inner-description::-webkit-scrollbar-thumb:hover {
        background: #0EEBAC
    }

    .anime-detail__inner-info::-webkit-scrollbar {
        width: 20px;
        height: 20px;
    }

    .anime-detail__inner-info::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #065F46;
    }

    .anime-detail__inner-info::-webkit-scrollbar-thumb {
        background: #0AAB7D;
        border-radius: 100vh;
        border: 3px solid #0AAB7D;
    }
    
    .anime-detail__inner-info::-webkit-scrollbar-thumb:hover {
        background: #0EEBAC
    }
}