### Current way to handle multiple pages let the action or link refer to the page name
### then configure redirect from page name in this file to /home (which redirects to index.php)
### furthermore have a POST parameters be passed with the requested page 
### afterwards index.php script processes this and proceeds to load the appropiate page
RewriteEngine on

#RewriteCond %{HTTP_HOST} ^test-project\.loc$ [NC]

RewriteCond %{THE_REQUEST} ^(.+)\.php(\?\S*)? [NC]
RewriteRule ^index\.php$ /home [QSA,L,R=307]

RewriteRule ^home$ /index.php [L]

# RewriteCond %{THE_REQUEST} ^(.+)\.php(\?\S*)? [NC]
RewriteCond %{REQUEST_URI} ^/seasonPicker$ [NC]
RewriteRule ^seasonPicker$ /seasonpicked [QSA,L,R=307]

RewriteRule ^seasonpicked$ /home [L]














###=========================================================================================================
# RewriteRule ^home\?action=submit$ /index.php?action=submit [L]

# RewriteCond %{HTTP_HOST} ^test-project\.loc$ [NC]
# RewriteCond %{THE_REQUEST} ^(.+)\.php(\?\S*)?  [NC]
# RewriteRule ^index\.php\?action=submit$ /home/pickedSeason [L,R]

# RewriteCond %{THE_REQUEST} ^(.+)\.php(\?\S*)? [NC]
# RewriteRule ^home$ /index.php [L]

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*) index.php [NC,L]

# RewriteRule ^(.*) index.php

#RewriteRule action=submit index.php?action=submit [P]

# RewriteRule ^action=submit$ /home [P]

# RewriteCond %{SCRIPT_FILENAME} ^index\.php$ [NC]
# RewriteRule ^ /home [L,R]

# RewriteCond %{REQUEST_URI} ^index\.php\?action=(.*)$ [NC]
# RewriteRule 